*{
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
    grid-template-columns: 33% 33% 33% ;
    grid-template-rows: 25% 25% 25% 25%;
    border-bottom: 1px solid grey;
    margin-bottom: 1em;
    text-align: center;
    background-color: brown;
}

header{
    border-bottom: 1px solid grey;
    margin-bottom: 1em;
    text-align: center;
}

footer{
    text-align: center;
}

